<ion-view view-title="Bottleneck">
  <ion-content>
		<div class="list card">
			<a href="#" class="item item-icon-left">
				<i class="icon ion-drag">
					Standard Tuning
				</i><!-- /i -->
			</a><!-- /a -->

			<a href="#" class="item item-icon-left">
				<i class="icon ion-drag">
					Open G Tuning
				</i><!-- /i -->
			</a><!-- /a -->

			<a href="#" class="item item-icon-left">
				<i class="icon ion-drag">
					Open D Tuning
				</i><!-- /i -->
			</a><!-- /a -->

			<a href="#" class="item item-icon-left">
				<i class="icon ion-drag">
					Open A Tuning
				</i><!-- /i -->
			</a><!-- /a -->

			<a href="#" class="item item-icon-left">
				<i class="icon ion-drag">
					Open E Tuning
				</i><!-- /i -->
			</a><!-- /a -->

		</div><!-- /div -->
  </ion-content><!-- /ion-content -->
</ion-view><!-- /ion-view -->
