<ion-view view-title="Bottleneck">
  <ion-content>
		<div class="list card">
			<a href="#" class="item item-icon-left item-icon-right">
				<i class="icon ion-drag"></i><!-- /i -->
					Standard Tuning
				<i class="icon ion-ios-arrow-forward"></i>
			</a><!-- /a -->

			<a href="#" class="item item-icon-left item-icon-right">
				<i class="icon ion-drag"></i><!-- /i -->
					Open G Tuning
				<i class="icon ion-ios-arrow-forward"></i>
			</a><!-- /a -->

			<a href="#" class="item item-icon-left item-icon-right">
				<i class="icon ion-drag"></i><!-- /i -->
					Open D Tuning
				<i class="icon ion-ios-arrow-forward"></i>
			</a><!-- /a -->

			<a href="#" class="item item-icon-left item-icon-right">
				<i class="icon ion-drag"></i><!-- /i -->
					Open A Tuning
				<i class="icon ion-ios-arrow-forward"></i>
			</a><!-- /a -->

			<a href="#" class="item item-icon-left item-icon-right">
				<i class="icon ion-drag"></i><!-- /i -->
					Open E Tuning
				<i class="icon ion-ios-arrow-forward"></i>
			</a><!-- /a -->

		</div><!-- /div -->
  </ion-content><!-- /ion-content -->
</ion-view><!-- /ion-view -->
